<div class="page-header">
  <h3>User #<%= @user.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">
      <dt>Username</dt>
      <dd><%= @user.username %></dd>

      <dt>Favorites</dt>
      <dd><table>
        <tr>
        <th>Dish</th>
        <th>Venue</th>
        </tr>
      <% @user.favorites.each do |favorite| %>
        <tr>
        <td><%= favorite.dish.name %></td>
        <td><%= favorite.venue.name %></td>
        <% end %>
        </dd></tr></table>


    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/users" class="btn btn-primary">
        Back
      </a>
      <a href="/users/<%= @user.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_user/<%= @user.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
